{% extends 'base.html' %}

{% block title %} About{% endblock title %}

{% block body %}
<img src="https://www.smergers.com/media/businessphoto/44252-72043152226.png" class="d-block w-100" alt="...">
<h1> Prince Ice Creams</h1>
<p> Hello everyone this is the official site of Prince Ice Creams. We hope a that you had a good expirience with us and you didn't face any problem in having looks of our ice creams. 
    This shop will be enaugrated soon by the hands of  our honorable founder and his family. The idea to set up the shop was given by one of the family members of the founder of the shop
    The plan was to build a shop which would attract people to visit it and the best way that came into the mind to conquer the thought was Prince Ice Creams. The shop will open at the 
    Kaila Devi Square, Dewas, Madhya Pradesh (the exact location will be shared to you soon on the site). The shop will work as per the guidelines of the Central and State government
    on and after Covid19 pandemic.</p>
<h2>Service</h2>
<p> Prince Ice Creams will be pure veg ice cream store serving not only ice creams but also kulfi, family packs, shakes and some special kind of kulfi's (rest of the menu will be shared 
    a day before the opening of the shop). The shop will follow a simple rule of self service in which a customer needs to buy a token of items he need to purchase and then has to give it
    to the counter according to the item. The counter wil recieve the token and give you your item as well as a copy of the recipt.</p>
    
<h3> Order Structure</h3>
<p>Only the bulk orders can be placed online (the bill will include the delivery tax according to your location) rest the customer need to come to the shop to buy the item. 
    If the order is placed online then the recipt will be provided by the delivery boy.</p>
<h4> Rules and Conditions </h4>
<h5> * No smoking and drinking will be alowed in the shop.</h5>
<h6> * Online orders above 20 piece of any item are accepted.</h6>
<h7> * If any order needs to be replace the customer must have the recipt.</h7>
<h8> * If you face any type of problem during online order please report it at the contact us page.</h8>
{% endblock body%}